<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DBMSCourseStudentTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DBMSCourseStudentTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="Connect" providerName="System.Data.ProviderName" connectionString="Data Source=SERGEI-ПК\SQLEXPRESS;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Initial Catalog=StudentTesting" />
  <add name="StudentTestingEntities1" connectionString="metadata=res://*/Entityies.Model1.csdl|res://*/Entityies.Model1.ssdl|res://*/Entityies.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERGEI-ПК\SQLEXPRESS;initial catalog=StudentTesting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <DBMSCourseStudentTesting.Properties.Settings>
      <setting name="DataSource" serializeAs="String">
        <value>SERGEI-ПК\SQLEXPRESS</value>
      </setting>
      <setting name="StudentTestingEntities1" serializeAs="String">
        <value>metadata=res://*/Entityies.Model1.csdl|res://*/Entityies.Model1.ssdl|res://*/Entityies.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=@dataSource;initial catalog=@DataBase
;user id=@login;password=@password;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;"</value>
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value>StudentTesting</value>
      </setting>
    </DBMSCourseStudentTesting.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <DBMSCourseStudentTesting.Properties.Settings>
      <setting name="connectStudentTestingEntities" serializeAs="String">
        <value />
      </setting>
    </DBMSCourseStudentTesting.Properties.Settings>
  </userSettings>
</configuration>

